body {
    margin: 0;
    background-color: rgb(255, 245, 240);
    font-weight: 500;
    font-size: 20px;
    font-family: 'Outfit';
}

body * {
    list-style-type: none;
    text-decoration: none;
    color: black;
}