footer {
    background: #fff;
    border: 2px solid #2b2522;
    border-radius: 14px;
    padding: 50px 60px;
    margin: 40px;
    box-shadow: 6px 6px 0 #2b2522;
}

.footer__inner {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
    gap: 40px;
}

.footer__logo {
    display: flex;
    align-items: center;
    gap: 12px;
    font-size: 20px;
    font-weight: bold;
}

.footer__logo img {
    width: 38px;
    height: 38px;
}

.footer__desc {
    font-size: 16px;
    margin: 16px 0 22px;
    color: #444;
    max-width: 450px;
    line-height: 1.5;
}

.footer__contact .footer__contact-item {
    display: flex;
    align-items: center;
    margin-bottom: 14px;
    font-size: 15px;
}

.footer__icon-box {
    width: 32px;
    height: 32px;
    border: 2px solid #2b2522;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    background-color: rgba(255, 245, 240);
}

.footer__icon-box img {
    width: 16px;
    height: 16px;
}

.footer__col h4 {
    font-size: 17px;
    margin-bottom: 18px;
    font-weight: bold;
}

.footer__col a {
    display: block;
    margin-bottom: 10px;
    color: #333;
    text-decoration: none;
    font-size: 15px;
}

.footer__col a:hover {
    text-decoration: underline;
}

.footer__line {
    border: none;
    border-top: 1px solid #cfcfcf;
    margin: 30px 0;
}

.footer__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__links a {
    color: #333;
    text-decoration: none;
    margin: 0 6px;
    font-size: 15px;
}

.footer__links .div {
    color: #999;
}

.footer__social {
    display: flex;
    gap: 12px;
}

.social-box {
    width: 38px;
    height: 38px;
    border: 2px solid #2b2522;
    background: #f7d8c4;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-box img {
    width: 18px;
    height: 18px;
}

.footer__copy {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
    color: #333;
}
