.main__first-plate {
    position: relative;
    border: 2px solid;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 5px 5px 2px rgba(0,0,0,0.9);
    margin: 5em 2em;

    background-image: url("../assets/abstract_design.png");
    background-repeat: no-repeat;
    background-position: top left;
    background-size: auto;
    background-color: white;

    display: flex;
    flex-direction: row;
    justify-content: center;

    height: 600px;
}

.main__first-text {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 45px;
    max-width: 45%;
    margin-top: auto;
    margin-bottom: auto;
}

.main__first-text a {
    font-family: 'Outfit';
    font-weight: 500;
    font-size: 18px;
    padding: 10px 20px;
    border: 2px solid;
    border-radius: 8px;

    transition: background-color 0.5s ease;

    overflow: hidden;
}

.main__first-text a:hover {
    background-color: rgb(255, 190, 153);
}

.main__first-text h1 {
    margin: 0;
}

.main__second-text {
    font-size: 20px;
    font-weight: 500;
    max-width: 45%;
    margin-top: auto;
    margin-bottom: auto;
}

.main__our-features {
    margin: 5em 2em;
    text-align: center;
}

.main__our-features h1 {
    margin: 0.5em;
}

.main__our-features a {
    font-weight: 500;
    font-size: 18px;
    background-color: white;
    overflow: hidden;
    border: 2px solid;
    border-radius: 8px;
    padding: 10px 20px;
}

.main__our-features p {
    font-family: 'Outfit';
    font-weight: 500;
    font-style: 20px;
    margin: 0 20%;
}